html {
    scroll-behavior: smooth;
}
body{
    margin-right: 0px;
    margin-top: 0px;
}
.parent1{
    background-image: url(website_ressource/background/bg_second.png);
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
    margin-left: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    position: relative;
    z-index: 10;
}
.header img{
    width: 120px;
    margin-top: 10px;
    padding-top: 20px;
}
.header-links button img{
    width: 20px;
}
.header-links button{
    background-color: #ec9e28;
    border: 0px;
    margin-right: 10px;
}
.header-links button:hover{
    cursor: pointer;
}
.header-links a{
    font-family: "Stack Sans Headline", sans-serif;
    text-decoration: none;
    color: black;
    margin-top: 0px;
    margin: 0px 30px 0px 30px;
    padding: 5px 5px;
}
.home{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: top;
    padding-top: 0px;
}
.image img{
    width: 600px;
    margin-right: 50px;
    position: relative;
    bottom: 35px;
    padding-top: 30px;
}
.left {
    margin-top: 100px;
}
.left .diner{
    font-family: "Stack Sans Headline", sans-serif;
    color: #ec9e28;
}
.left h1{
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.left h1 span{
    font-family: "Stack Sans Headline", sans-serif;
    color: #ec9e28;
}
.left .para{
    font-family: "Stack Sans Headline", sans-serif;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: justify;
}
.left button{
    font-family: "Stack Sans Headline", sans-serif;
    width: 100px;
    font-size: 15px;
    background-color: #ec9e28;
    border-width: 0px;
    padding: 10px 5px;
    border-radius: 7px;
}
.left button:hover{
    cursor: pointer;
    border-color: #ec9e28;
    color: #ec9e28;
    border-width: 1px;
    background-color: white;
    font-weight: bold;
}
#aboutus {
    margin: 50px 30px 0px 30px;
    padding: 0px 30px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
#aboutus img{
    width: 350px;
}
#aboutus h1{
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 5px;

}
#aboutus h1 span{
    font-family: "Stack Sans Headline", sans-serif;
    color: #ec9e28;
    text-align: justify;
}
#aboutus p{
    font-family: "Stack Sans Headline", sans-serif;
    color: rgb(69, 69, 69);
    margin-bottom: 30px;
    margin-top: 20px;
}
#aboutus button{
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 15px;
    border-radius: 30px;
    border-width: 1.5px;
    padding: 5px 15px;
    background-color: white;
}
#aboutus button:hover{
    cursor: pointer;
    border-width: 0px;
    color: white;
    font-size: 16px;
    padding: 6px 16px;
    background-color: #ec9e28;
}
#menu{
    margin-top: 90px;
}
#menu h1{
    text-align: center;
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}
#menu h1 span{
    color: #ec9e28;
}
#menu .food{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    margin: 0px 0px 0px 70px;
}
#menu .food .breakfast {
    width: 300px;
    height: 340px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(157, 157, 157);
}
#menu .food .breakfast img{
    width: 300px;
    border-radius: 20px 20px 0px 0px; 
}
#menu .food .breakfast .br{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
#menu .food .breakfast .br p{
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 23px;
    margin-top: 20px;
}
#menu .food .breakfast .br button{
    font-family: "Stack Sans Headline", sans-serif;
    width: 70px;
    font-size: 15px;
    background-color: #ec9e28;
    border-width: 0px;
    padding: 3px 3px;
    border-radius: 10px;
    margin-top: 0px;
    cursor: pointer;
}
#menu .food .breakfast .br button:hover{
    font-family: "Stack Sans Headline", sans-serif;
    width: 68.5px;
    background-color: white;
    color: black;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
}
#menu .food .breakfast .brstars{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
#menu .food .breakfast .brstars img{
    margin-top: 0px;
    width: 100px;
}
#menu .food .breakfast .brstars button{
    font-family: "Stack Sans Headline", sans-serif;
    width: 55px;
    font-size: 12px;
    background-color: white;
    border-width: 0px;
    padding: 3px 3px;
    border-radius: 10px;
    margin-top: 0px;
    cursor: pointer;
}
#menu .food .breakfast .brstars button:hover{
    font-family: "Stack Sans Headline", sans-serif;
    width: 55px;
    background-color: #ec9e28;
}
#menu .food .lunch {
    width: 300px;
    height: 340px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(157, 157, 157);
}
#menu .food .lunch img{
    width: 300px;
    border-radius: 20px 20px 0px 0px; 
}
#menu .food .lunch .ln{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
#menu .food .lunch .ln p{
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 23px;
    margin-top: 20px;
}
#menu .food .lunch .ln button{
    font-family: "Stack Sans Headline", sans-serif;
    width: 70px;
    font-size: 15px;
    background-color: #ec9e28;
    border-width: 0px;
    padding: 3px 3px;
    border-radius: 10px;
    margin-top: 0px;
    cursor: pointer;
}
#menu .food .lunch .ln button:hover{
    font-family: "Stack Sans Headline", sans-serif;
    width: 68.5px;
    background-color: white;
    color: black;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
}
#menu .food .lunch .lnstars{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
#menu .food .lunch .lnstars img{
    margin-top: 0px;
    width: 100px;
}
#menu .food .lunch .lnstars button{
    font-family: "Stack Sans Headline", sans-serif;
    width: 55px;
    font-size: 12px;
    background-color: white;
    border-width: 0px;
    padding: 3px 3px;
    border-radius: 10px;
    margin-top: 0px;
    cursor: pointer;
}
#menu .food .lunch .lnstars button:hover{
    font-family: "Stack Sans Headline", sans-serif;
    width: 55px;
    background-color: #ec9e28;
}
#menu .food .dinner{
    width: 300px;
    height: 340px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(157, 157, 157);
}
#menu .food .dinner img{
    width: 300px;
    border-radius: 20px 20px 0px 0px; 
}
#menu .food .dinner .dn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
#menu .food .dinner .dn p{
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 23px;
    margin-top: 20px;
}
#menu .food .dinner .dn button{
    font-family: "Stack Sans Headline", sans-serif;
    width: 70px;
    font-size: 15px;
    background-color: #ec9e28;
    border-width: 0px;
    padding: 3px 3px;
    border-radius: 10px;
    margin-top: 0px;
    cursor: pointer;
}
#menu .food .dinner .dn button:hover{
    font-family: "Stack Sans Headline", sans-serif;
    width: 68.5px;
    background-color: white;
    color: black;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
}
#menu .food .dinner .dnstars{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
#menu .food .dinner .dnstars img{
    margin-top: 0px;
    width: 100px;
}
#menu .food .dinner .dnstars button{
    font-family: "Stack Sans Headline", sans-serif;
    width: 55px;
    font-size: 12px;
    background-color: white;
    border-width: 0px;
    padding: 3px 3px;
    border-radius: 10px;
    margin-top: 0px;
    cursor: pointer;
}
#menu .food .dinner .dnstars button:hover{
    font-family: "Stack Sans Headline", sans-serif;
    width: 55px;
    background-color: #ec9e28;
}
#menu .scroll{
    display: flex;
    justify-content: center;
}
#menu .scroll img{
    width: 100px;
}

#test{
    margin-top: 90px;
    margin-bottom: 30px;
}
#test h1{
    text-align: center;
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 40px;
}
#test h1 span{
    color: #ec9e28;
}
#test .tests{
    margin: 50px 30px 0px 30px;
    padding: 0px 30px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-top: 0px;
}
#test .tests img{
    width: 340px;
}
#test .tests .opinion{
    margin-top: 0px;
    padding-top: 0px;
}
#test .tests .opinion .name{
    display: flex;
    gap: 10px;
    align-items: center;
}
#test .tests .opinion .name h1{
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 25px;
    color: #412b0a;
    text-decoration: underline #ec9e28;
    padding-top: 7px;
}
#test .tests .opinion .name img{
    width: 65px;
    border-radius: 50px;
}
#test .tests .opinion p{
    font-family: "Stack Sans Headline", sans-serif;
    text-align: justify;
    font-size: 15px;
    color: rgb(56, 56, 56);
    margin-top: 20px;
}
#test .tests .opinion img{
    width: 150px;
    margin-top: 5px;
}

#contact{
    margin: 100px 30px 0px 30px;
}
#contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
#contact .logo{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 0px;
    padding-right: 0px;
}
#contact .logo .moon{
    margin-top: 10px;
    padding-top: 30px;
    width: 200px;
}
#contact .hours h1{
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 20px;
}
#contact .hours p{
    font-family: "Stack Sans Headline", sans-serif;
    color: rgb(47, 47, 47);
    font-size: 15px;
}
#contact .contacts h1{
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 20px;
}
#contact .contacts p{
    font-family: "Stack Sans Headline", sans-serif;
    color: rgb(47, 47, 47);
    font-size: 15px;
}
#contact .sub h1{
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 20px;
}
#contact .sub .insta img{
    width: 20px;
}
#contact .sub .insta{
    display: flex;
    align-items: center;
    gap: 10px;
}
#contact .sub .tiktok img{
    width: 20px;
    border-radius: 5px;
}
#contact .sub .tiktok{
    display: flex;
    align-items: center;
    gap: 10px;
}
#contact .sub .tiktok p{
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 15px;
}
#contact .sub .insta p{
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 15px;
}
#contact .sub hr{
    height: 5px;
    background-color: #ec9e28;
    border-color: #ec9e28;
    border-radius: 2px;
}